[submodule "submodules/constitution"]
	path = submodules/constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
[submodule "milosvasic.ru"]
	path = milosvasic.ru
	url = git@github.com:milos85vasic/milosvasic.ru.git
[submodule "vasic.digital"]
	path = vasic.digital
	url = git@github.com:vasic-digital/vasic-digital.github.io.git
[submodule "design-toolkit"]
	path = design-toolkit
	url = git@github.com:vasic-digital/design-toolkit.git
